<div class="bg-glass py-10 border border-top border-purple-400">
  <div class="container">
    <div
      class="d-flex justify-content-between flex-column flex-sm-row align-items-center"
    >
      <ul class="d-flex gap-12 mb-4 mb-sm-0">
        <li>
          <a href="##"
            ><img src="../assets/images/icons/facebook.png" alt="facebook"
          /></a>
        </li>
        <li>
          <a href="##"
            ><img src="../assets/images/icons/instagram.png" alt="instagram"
          /></a>
        </li>
        <li>
          <a href="##"
            ><img src="../assets/images/icons/twitter.png" alt="twitter"
          /></a>
        </li>
      </ul>
      <div class="text-end fs-7 fw-light text-gray-100">
        <p>Copyright © 2023 SINGALONG. All rights reserved.</p>
        <p>本網站僅作為個人練習作品，無任何商業用途</p>
      </div>
    </div>
  </div>
</div>
